/* look for the people who care and give opportunities to minorities and disenfranchised groups.
what organization focuses on job experience in the US?
What people have provided the best support? Which Moderators. */
* {
    box-sizing: border-box;
}
body {
	font-family: verdana;
    padding: 0;
    margin: 0;
}

/*=============
grid styles 
=============*/
/*=============
Message User Section
=============*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}
.notifications {
    grid-area: header;
    background-color:#7477bf;
    display: flex;
    align-items: center;
}
.navigation {
    grid-area: navigation;
    background-color: #4d4c72;
}
.main {
    grid-area: main;
}
.widget-container-full, 
.widget-container-half {
    width: 95vw;
}
.message-user label {
    padding: 10px;
}
.message-user input {
    display: block;
    width: 85%;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    padding: 6px;
    border: solid thin;
}
#messages {
    display: block;
    width: 85%;
    margin: 5px auto;
    border-radius: 4px;
    border: none;
    padding: 3px;
    height: 100px;
    border: solid thin;
}
.send-bttn {
    width: 85%;
    margin: 0px auto;
    display: block;
    color: white;
    border-radius: 7px;
    padding: 10px;
    transition: 1s;
    background-color: #B6B7D8;
    border:none;
}
.send-bttn:hover {
    background-color: #7477bf;
}
/*=============
Dashboard section
=============*/
.dashboard input {
    width: 98%;
    margin: 25px auto;
    display: block;
    border-radius: 7px;
    border: none;
    padding: 7px;
    background-color: gainsboro;
}
.dashboard h3 {
    text-align: center;
}
.nav-bttns {
    width: 9%;
    margin: 15px 7%;
    max-width: 80px;
    min-width: 50px;
}
.main {
    background-color: white;
}
.recent-activity,
.new-members {
    padding: 13px;
}
/*=============
Notification Section
=============*/
.notifications h2 {
    margin-right: auto;
    color: white;
    margin-left: 10px;
}
.notifications p {
    color: white;
    padding-right: 10px;
    margin-right: 10px;
}
.notification-bar {
    width: 65px;
    min-width: 50px;
    max-width: 80px;
}
.notifications img {
    margin-right: 11px;
}
/*=============
New Member section/Recent activity section
=============*/
.new-members img {
    border-radius: 50%;
}
.recent-activity img {
    border-radius: 50%;
    margin: 10px 15px;
    width: 50px;
}
.profile-pic {
    width: 65px;
    border-radius: 50%;
    min-width: 50px;
}
/* .new-members h6 {
    margin: 0;
} */
.member-cards {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#fbfbfb;
    border-radius: 5px;
    margin: 3px;
    border: solid thin #d1d1d1;
    color: grey;
    /* flex-wrap: wrap; */
    hyphens: auto;
    height: 95px;
}
/* .activity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */
.new-members {
    display: flex;
    flex-direction: column;
}
/* .activity .fourth-member, 
.second-member, 
.third-member, 
.first-member {
    margin: 10px 15px;
    width: 50px;
} */
.fourth-member, 
.second-member, 
.third-member, 
.first-member {
    margin: 10px 15px;
    width: 50px;
}
.date {
    margin-left: auto;
}
select {
    width: 91%;
    margin: 4px auto;
}
.settings-bttn {
    display: flex;
    justify-content: center;
}
.settings-bttn button {
    width: 40%;
    margin: 6px;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 7px;
}
.stats {
    color: grey;
}
.settings {
    background-color: #fbfbfb;
    border: solid thin #d1d1d1;
    margin: 3px 15px;
    color: grey;
    padding: 10px;
    border-radius: 5px;
}
.cancel-bttn {
    transition: 1s;
    background-color: #A2A0A0;
}
.cancel-bttn:hover {
    background-color: grey;
}
.save-bttn {
    transition: 1s;
    background-color: #B6B7D8;
}
.save-bttn:hover {
    background-color: #7477bf;
}

/*=========
SVG Icons 
===========*/
.social-container {
    display: flex;
    flex-direction: column;
}
.icons{
    max-height: 30px;
}
.social-card {
    display: flex;
    border: solid thin #d1d1d1;
    width: 80%;
    margin: 6px auto;
    background-color: #fbfbfb; 
    border-radius: 5px;
}
.social-media-cards {
    /* display: flex;
    flex-direction: column; */
    padding: 9px;
}
.social-media-cards h3 {
    padding-bottom: 9px;
}
.social-img {
    background-color: #7477bf;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 7px;
}
.member-cards p {
    margin-left: auto;
    color: grey;
}
.alert-banner {
    background-color: #7477bf;
    width: 90%;
    margin: 10px auto 0;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 50px;
}
.traffic-nav li {
    border-radius: 8px;
    padding: 5px;
    color: grey;
}
.traffic-nav li:hover {
    background-color: #98CF5E;
    color:white;
}
.traffic-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
span {
    margin: 10px;
}
.alert-banner p {
    display: inline-block;
    color: white;
    padding-left: 11px;
}
/* when nav button is active. Not in css yet. In js? */
.active-nav-bttn {
    fill: #fff;
}
.active {
    display: inline-block;
    background-color: #98CF5E;
    border-radius: 8px;
    padding: 5px;
    color:white;
}
.alert-bell-close {
    margin: 20px auto;
}
h4, h3, h2 {
    margin: 0;
    color: grey;
}
.dashboard h2 {
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
}
.widget-container-full,
.widget-container-half {
    border: solid thin #d1d1d1;
    border-radius: 5px;
    background-color: #fbfbfb;
}
.personal-settings h3,
.message-user h3 {
    padding: 20px;
}
.rcnt-act {
    margin: 0;
}
.bell-icon{
    transition: width 1s, height 1s, transform 1s;
}
.bell-icon:hover {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
}
.widget-container {
    background-color: #fbfbfb;
    margin: 3px 15px;
    border-radius: 5px;
    border: solid thin #d1d1d1;
    padding:13px 0;
}
.daily-traffic-card h3 {
    padding-top: 4%;
    padding-bottom: 2%;
}
.mobile-users-card h3 {
    padding-top: 4%;
    padding-bottom: 2%;
}
.general-traffic-card h3 {
    padding-top: 3%;
}
@media(min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "navigation main"
            "navigation main";
        grid-template-columns: 100px 1fr;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .general-traffic-card, .social-media-cards, .dashboard {
        grid-column: 1 / span 2;
    }
    .daily-traffic-card, .new-members, .message-user {
        grid-column: 1 / span 1;
    }
    .mobile-users-card, .recent-activity, .personal-settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        /* width: 90vw; */
        width: 85vw;
    }
    .widget-container-half {
        /* width: 45vw; */
        width: 43vw;
    }
    #alert-bell {
        right: 132px;
    }
    .dashboard {
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr;
        display: grid;
    }
    .dashboard h2 {

        /* pasted code */
        text-align: inherit;
        padding-top: 0;

        display: inline;
        grid-column-start: 1;
        grid-row-start: 1;
        padding-top: 35px;
        padding-left: 1xs8px;
    }
    #alert2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .search {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .general-traffic-card,
    .daily-traffic-card,
    .mobile-users-card {

        /* pasted code */
        padding: 0;

        margin-left: 2%;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation a {
        display: flex;
        justify-content: center;
    }
    .personal-settings {
        border-top: none;
    }
    .social-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .social-card {
        margin: 25px;
        margin-top: 0px;
    }
    .general-traffic-card h3 {
        padding-top: 0;
    }
}