* {
    box-sizing: border-box;
}
body {
	/* font-size: 1.4em; */
	font-family: 'Varela Round', sans-serif;
    padding: 0;
    margin: 0;
}

/*=============
grid styles 
=============*/
/*=============
Message User Section
=============*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}
.notifications {
    grid-area: header;
}
.navigation {
    grid-area: navigation;
}
.main {
    grid-area: main;
}
.widget-container-full, .widget-container-half {
    width: 95vw;
}
.message-user label {
    padding: 10px;
}
.message-user input {
    display: block;
    width: 85%;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    padding: 6px;
    border: solid thin;
}
#messages {
    display: block;
    width: 85%;
    margin: 5px auto;
    border-radius: 4px;
    border: none;
    padding: 3px;
    height: 100px;
    border: solid thin;
}
.send-bttn {
    width: 85%;
    margin: 0px auto;
    display: block;
    /* background-color:#4696F1; */
    color: white;
    border-radius: 7px;
    /* border-color: #4696F1; */
    padding: 10px;
    transition: 1s;
    background-color: #B6B7D8;
    border:none;
}
.send-bttn:hover {
    background-color: #7477bf;
}
/*=============
Dashboard section
=============*/
.dashboard input {
    width: 98%;
    margin: 25px auto;
    display: block;
    border-radius: 7px;
    border: none;
    padding: 7px;
    background-color: gainsboro;
}
.dashboard h3 {
    text-align: center;
}
.alert{
    color: white;
    padding: 8px;
}
.alert p {
    margin: 0;
}
.dashboard-img, .members-img, .visits-img, .settings-img {
    width: 9%;
    margin: 15px 7%;
    max-width: 80px;
    min-width: 50px;
}
.navigation {
    background-color: #4d4c72;
}
.notifications {
    background-color: #7477bf;
}
.dashboard, .general-traffic, .daily-traffic, .mobile-users, .social-stats, .new-members, .recent-activity, .message-user, .personal-settings {
    background-color: white;
}
.alert p {
    background-color:  #7477bf;
    margin: 12px;
    border-radius: 5px;
    padding: 10px;
} 
.recent-activity,
.new-members {
    padding: 13px;
}
/*=============
Notification Section
=============*/
.notifications {
    background-color:#7477bf;
    display: flex;
    align-items: center;
}
.notifications h2 {
    margin-right: auto;
    color: white;
    margin-left: 10px;
}
.notifications p {
    color: white;
    padding-right: 10px;
    margin-right: 10px;
}
.notification-bar {
    width: 65px;
    min-width: 50px;
    max-width: 80px;
}
.notifications img {
    margin-right: 11px;
}
/*=============
New Member section/Recent activity section
=============*/
.new-members img {
    border-radius: 50%;
}
.recent-activity img {
    border-radius: 50%;
    margin: 10px 15px;
    /* height: 128px; */
    width: 50px;
}
.profile-pic {
    /* width: 10%; */
    width: 65px;
    border-radius: 50%;
    min-width: 50px;
}
.new-members h6 {
    margin: 0;
}

.contact-img {
    display: flex;
    align-items: center;
    width: 100%;
    /* border-bottom: solid thin; */
    background-color:#fbfbfb;
    border-radius: 13px;
    margin: 3px;
    border: solid thin #d1d1d1;
    color: grey;
    flex-wrap: wrap;
}
.activity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.activity .fourth-member, .second-member, .third-member, .first-member {
    margin: 10px 15px;
    /* min-width: 50px; */
    width: 50px;
}
.date {
    margin-left: auto;
}
select {
    width: 91%;
    margin: 4px auto;
}
.settings-bttn {
    display: flex;
    justify-content: center;
}
.settings-bttn button {
    width: 40%;
    margin: 6px;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 7px;
}
.stats {
    color: grey;
}
.sets {
    background-color: #fbfbfb;
    border: solid thin #d1d1d1;
    margin: 3px 15px;
    color: grey;
    padding: 10px;
    border-radius: 10px;
}
.cancel-bttn {
    transition: 1s;
    background-color: #A2A0A0;
}
.cancel-bttn:hover {
    background-color: grey;
}
.save-bttn {
    transition: 1s;
    background-color: #B6B7D8;
}
.save-bttn:hover {
    background-color: #7477bf;
}

/*=========
SVG Icons 
===========*/
.social-stats {
    display: flex;
    flex-direction: column;
}
.icons{
    max-height: 30px;
}
.cards {
    display: flex;
    border: solid thin #d1d1d1;
    width: 80%;
    margin: 6px auto;
    background-color: #fbfbfb; 
    border-radius: 10px;
}
.social-stats {
    display: flex;
    flex-direction: column;
}
.social-img {
    background-color: #7477bf;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 7px;
}
.contact-img p {
    margin-left: auto;
    color: grey;
}
.alert-banner {
    background-color: #7477bf;
    width: 90%;
    margin: 10px auto 0;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 50px;
}
.trafic-nav li {
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    color: grey;
}
.trafic-nav li:hover {
    background-color: #98CF5E;
    color:white;
}
.trafic-nav {
    list-style: none;
    display: inline-block;
}
span {
    margin: 10px;
}
.alert-banner p {
    display: inline-block;
    color: white;
    padding-left: 11px;
}
/* when nav button is active. Not in css yet */
.active-nav-bttn {
    fill: #fff;
}
.active {
    display: inline-block;
    background-color: #98CF5E;
    border-radius: 8px;
    padding: 5px;
    color:white;
}
.alert-bell-close {
    margin: 20px auto;
}
h4, h3, h2 {
    margin: 0;
    color: grey;
}
.dashboard h2 {
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
}
.general-traffic, .daily-traffic, .mobile-users {
    /* padding: 21px; */
}
.widget-container-full,
.widget-container-half {
    border: solid thin #d1d1d1;
    border-radius: 11px;
    background-color: #fbfbfb;
}
.personal-settings h3,
.message-user h3 {
    padding: 20px;
}
.widget-container {
    padding-bottom: 15px;
}
.st1 {
    fill: #fff;
}
.rcnt-act {
    margin: 0;
}
.bell-icon{
    transition: width 1s, height 1s, transform 1s;
}
.bell-icon:hover {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
}
.widget-container {
    /* padding-bottom: 0; */
    background-color: #fbfbfb;
    padding-top: 13px;
    margin: 3px 15px;
    border-radius: 17px;
    padding-bottom: 13px;
    border: solid thin #d1d1d1;
}
.daily-traffic h3 {

    padding-top: 4%;
    padding-bottom: 2%;

}
.mobile-users h3 {

    padding-top: 4%;
    padding-bottom: 2%;

}
.general-traffic h3 {

    padding-top: 3%;

}

/* 1117px */

@media(min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "navigation main"
            "navigation main";
        grid-template-columns: 100px 1fr;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .traffic, .social-stats, .dashboard {
        grid-column: 1 / span 2;
    }
    .daily, .new-members, .message-user {
        grid-column: 1 / span 1;
    }
    .mobile, .recent-activity, .personal-settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        /* width: 90vw; */
        width: 85vw;
    }
    .widget-container-half {
        /* width: 45vw; */
        width: 43vw;
    }
    #alert-bell {
        right: 132px;
    }
    .dashboard h2 {
        text-align: inherit;
        padding-top: 0;
    }
    .general-traffic, .daily-traffic, .mobile-users {
        padding: 0;
    }
    /* .widget-container {
        padding-bottom: 0;
    } contact form container*/
    .dashboard {
        grid-template-columns: 1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr;
        display: grid;
    }
    .dashboard h2 {
        display: inline;
        grid-column-start: 1;
        grid-row-start: 1;
        padding-top: 35px;
        padding-left: 1xs8px;
    }
    #alert2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .search {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .general-traffic,
    .daily-traffic,
    .mobile-users {
        /* padding: 20px 21px; */
        margin-left: 2%;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation a {
        display: flex;
        justify-content: center;
    }
    .personal-settings {
        border-top: none;
    }
    .social-stats {
        flex-direction: row;
        justify-content: space-around;
    }
    .cards {
        margin: 25px;
    }
    .general-traffic h3 {

        padding-top: 0;
    
    }
}

